* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: black;
}




.main-container {
    margin: 0 auto;
    max-width: 1440px;
}
.announcements {
    background-color: #d8e8e3;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.announcements span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}

.left-right-section {
    display: flex;
    margin-bottom: 32px;
}

.left-right-section .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f8f6;
    color: #1e3932;
    padding: 32px 48px;
}

.text h1, .text h3 {
    margin: 0;
    font-weight: 400;
}
.text h1 {
    margin-bottom: 24px;
    font-size: 24px;
    text-align: center;
}
.text h3 {
    margin-bottom: 32px;
    font-size: 19px;
    text-align: center;
}

.left-right-section .image {
    width: 50%;
    display: flex;
}



.left-right-section .image img {
    height: 100%;
    width: 100%;
}


.text .cta {
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: #1e3932;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.text .cta:hover {
    background-color: rgba(30,57,50,.1);
}

.chill .text {
    background-color: #f2f0eb;
}

.chill .text h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 50px;
    letter-spacing: 8px;
}
.chill .text h3 {
    font-size: 24px;
    line-height: 1.5;
}
section {
    display: flex;
}

.top-bottom-section {
    display: flex;
    margin-bottom: 32px;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.top-bottom-section .image {
    width: 100%;
    display: flex;
}

.top-bottom-section .image img {
    width: 100%;
}

.top-bottom-section .text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #1e3932;
    background-color: #d4e9e2;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
}

.top-bottom-section .text h1 {
    font-size: 24px;
    margin-bottom: 24px;
}
.top-bottom-section .text h3 {
    font-size: 19px;
    line-height: 1.75;
}

.top-bottom-section:first-child .section-container {
    margin-right: 16px;
}
.top-bottom-section:last-child .section-container {
    margin-left: 16px;
}


.cta-container {
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}


.left-right-section .news-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4e9e2;
    color: #1e3932;
    padding: 32px 48px;
}

.store {
    display:block;
    width:100%;
    text-align:center;
    padding:60px;
}


.store-retrictions {
    padding-bottom: 70px;
    font-size: 14px;
    line-height: 25.2px;
    font-weight: 400;
    color: #000000;
    display: block;
    margin: 0 auto;
    max-width: 646.154px;
}

.store-msg {
    font-size: 14px;
    line-height: 25.2px;
    font-weight: 400;
    color: #000000;
    /* padding-bottom: ; */
    display: block;
    margin: 0 auto;
    max-width: 646.154px;
    margin-top: 3.2rem;
    /* margin-bottom: 3.2rem; */
    letter-spacing: -0.16px;
}

.store-retrictions a:hover {
    text-decoration: none;
}